body {
	font-size: 16px;
	color: #424242;
	font-family: 'oxygen', san-serifs;
	margin: 0;
	width: 100%;
	padding: 0;
	overflow: hidden;
	position: fixed;
}



.navbar{
	width: 100%;
	background-color: #555;
	border-radius: 0;
	border: 0;
	height: 96px;
	position: relative;
	align-items: center;
	display: flex;
	vertical-align: middle;
}

.nav-container{
	width: 80%;
	height: 100%;
	align-items: center;
	display: flex;
	color: white;
	justify-content: space-between;
}

.logo{
	margin-left: 5%;
	margin-right: 30px;
}

.navbar a {
	align-items: center;
	text-align: center;
	padding: 12px;
	color: white;
	text-decoration: none;
	font-size: 15px;
}

.navbar a:hover{
	color : #61122f;
}

.overhead{
	width: 36%;
	display: flex;
	justify-content: space-between;
}

.overheadmenu {
	display: flex;
	align-items: center;
	max-width: 33%;
	padding-left: 12px;
	padding-right: 12px;
	line-height: 1em;
	font-size: 1rem;
	font-weight: 400;
	text-transform: uppercase;
	margin: 0;
	cursor: pointer;
}

.login{
	height: 100%;
	display: flex;
	align-items: center;
}

.loginlogo{
	padding-left: 30px;
	padding-right: 30px;
	height: 40px;
}

.netheight{
	height: calc(100%-96px);
	scroll-behavior: smooth;
}

.search{
	align-items: center;
	width: 100%;

	padding-right: 5%;
	justify-content: space-around;
	display: flex;
}

.logindesktop{
	width: 590px;
	position: relative;
	height: 822px;
	margin-top: 30px;
	justify-content: center;
	display: flex;
	align-items: center;
	background-size: cover;
	border-radius: 8px;
}



.welcomemsg{
	width: 400px;
	height: 600px;
}

.welcometext{
	margin-bottom: 0;
	line-height: 57px;
	font-size: 3rem;
	margin: 0;
}

.signupbutton{
	width: 200px;
	box-shadow: 0 1px 6px 0 rgba(0,0,0,.27);
	margin-top: 50px;
	line-height: 55px;
	height: 55px;
	letter-spacing: .02em;
	cursor: pointer;
	background: linear-gradient(262deg, #ff7854, #fd267d);
	color: #fff;
	border-radius: 100px;
	max-width: 315px;

}
